<mat-form-field>
    <mat-label>Category</mat-label>
    <input type="text" matInput [value]="query()" (input)="onTyping($any($event.target).value)" [matAutocomplete]="auto"
        placeholder="Choose a category">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event.option.value)">
        @for(category of filteredCategories(); track category) {
            <mat-option [value]="category">
                {{ category }}
            </mat-option>
        }
    </mat-autocomplete>
</mat-form-field>