<span>Filters are under construction 🚧</span>
<!-- <form>
    <mat-form-field>
        <input matInput placeholder="Search products">
    </mat-form-field> -->
   <!--  <mat-form-field class="example-full-width">
        <mat-label>Number</mat-label>
        <input #input
            type="text"
            placeholder="Pick one"
            matInput
            [matAutocomplete]="auto">
        <mat-autocomplete requireSelection #auto="matAutocomplete">
        @for (option of filteredOptions; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
        }
        </mat-autocomplete>
    </mat-form-field> -->
<!-- </form> -->