:host {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .cart-item-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1 1 auto;
        border-bottom: 1px solid #eee;
        padding: 8px;
        &:first-child {
            padding-top: 0;
        }
        app-product-image {
            margin-right: 16px;
        }
        .title-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 1;
            min-width: 0;
            
        }
    }
    .remove-wrapper {
        display: flex;
        align-items: center;
        align-self: flex-end;
        font-size: 10px;
        .remove-icon {
            font-size: 14px;
            width: 14px;
            height: 14px;
            color: #888;
            flex-shrink: 0;
        }
        &:hover {
            cursor: pointer;
            .remove-icon {
                color: #555;
            }
        }
    }
    
}